
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5
  db_test:
      image: postgres:15
      container_name: ${TEST_DB_HOST}
      environment:
        POSTGRES_USER: ${TEST_DB_USER}
        POSTGRES_PASSWORD: ${TEST_DB_PASSWORD}
        POSTGRES_DB: ${TEST_DB_NAME}
      ports:
        - "${TEST_DB_PORT}:5432"
      networks:
        - backend
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U ${TEST_DB_USER} -d ${TEST_DB_NAME}" ]
        interval: 5s
        timeout: 5s
        retries: 5

  db_migrator:
      image: migrate/migrate
      depends_on:
        db:
          condition: service_healthy
      command: '-path=/migrations -database postgres://${DB_USER}:${DB_PASSWORD}@db/${DB_NAME}?sslmode=disable up'
      restart: 'no'
      volumes:
        - ./database/migrations:/migrations
      networks:
        - backend
  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    networks:
      - backend
    volumes:
      - ./migrations:/migrations
volumes:
  postgres_data:

networks:
  backend:
    driver: bridge
